/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 14px;
}

.button {
  margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

.center {
  text-align: center;
  margin: 20px;
}

.email-list {
  list-style-type: none;
  margin: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.list-group-item {
  word-wrap: break-word;
}

.list-group {
  height: auto;
  max-height: 700px;
  overflow: auto;
}

.col-md-4 {
  overflow: auto;
}

#login-buttons {
    display: block;
    text-align: center;
}
